<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1> <!-- bubble { is angular's interpolation binding syntax. value of title property is displayed -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
