<h2>My Heroes</h2>
<ul class="heroes">
  <!-- <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
  [class.selected]="hero === selectedHero"> The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list. (event)="method()" is a event binding -->
  <!-- Add the selected style if hero is equal to selectedHero. angular class binding -->
  <li *ngFor="let hero of heroes">
   <a routerLink="/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
   </a>
  </li>
</ul>

<!-- Pipes is used to format data -->
