<div *ngIf="hero"> <!-- the content is rendered if selectedHero is defined -->

<h2>{{hero.name | uppercase}} Details</h2> <!-- The word uppercase in the interpolation binding, right after the pipe operator ( | ), activates the built-in UppercasePipe. -->
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name"> <!-- Two way binding to hero.name. [(ngModel)] is Angular's two-way data binding syntax. -->
  </label>
</div>

</div>

<button (click)="goBack()">go back</button>
